<launch>
  <include file="$(find realsense2_camera)/launch/rs_camera.launch">
    <arg name="camera" value="camera" />
    <arg name="tf_prefix" value="camera" />
    <arg name="publish_tf" value="false" />
    <arg name="publish_odom_tf" value="false" />
    <arg name="align_depth" value="true" />
    <arg name="enable_pointcloud" value="true" />
    <arg name="enable_sync" value="true" />
    <arg name="filters" value="pointcloud" />
  </include>
</launch>
