<launch>
  <arg
    name="model" />
  <param
    name="robot_description"
    textfile="$(find nexa)/urdf/nexa.urdf" />
  <node
    name="joint_state_publisher_gui"
    pkg="joint_state_publisher_gui"
    type="joint_state_publisher_gui" />
  <node
    name="robot_state_publisher"
    pkg="robot_state_publisher"
    type="robot_state_publisher" />
  <!-- No -d config here: urdf.rviz referenced by the original export doesn't
       exist in this package. RViz opens with a blank display list instead -
       add RobotModel/TF manually (Add button, bottom-left of the Displays
       panel), then set Fixed Frame to base_link. -->
  <node
    name="rviz"
    pkg="rviz"
    type="rviz" />
</launch>
